.change-icons a{
    color: #fff;
}
.sections-list-li:hover a{
    color: #71b6f9;
}
.hidden-video-card{
	display: none;
}
.video-card{
	display: flex;
    margin-bottom: 20px;
}
.emailers-form input{
    width: 100%;
    display: block;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 5px -1px #6c757d;
    margin-bottom: 14px;
	padding-left: 20px;
}
.emailers-form input:focus-visible{
	outline: none;
}
.emailers-form textarea:focus-visible{
	outline: none;

}
.emailers-form button{
	float: right;
	border: none;
}
.emailers-form textarea{
    width: 100%;
	padding-top: 15px;
	padding-left: 20px;
	min-height: 200px;
    display: block;
    border: none;
    box-shadow: 1px 1px 5px -1px #6c757d;
    margin-bottom: 14px;
}
.card-box .header-title{
    height: 37px;
    overflow: hidden;
}
.mt-20{
    margin-top: 20px;
}
img.slide_image {
    width: 30%;
    height: 120px;
}


h1, h2, h3, h4, h6{
    font-family: 'BPGNinoMtavruli-Bold' !important;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.table-header .table-header-btn {
    padding: 10px;
}
.table-header .table-header-btn i{
    font-size: 13px;
}
.table-header .card-title{
    margin-bottom: 0px;
}
.nav-item .menu-title{
    position: relative;
    top: 3px;
}
.auth form .auth-form-btn{
    font-size: 15px;
}
.auth .brand-logo img {
    width: 300px;
    margin: auto;
    display: block;
    max-width: 100%;
}
input.danger{
    border-color: #ff0000b3;
}
.navbar .navbar-brand-wrapper .navbar-brand img{
    height: auto;
}
.navbar .navbar-brand-wrapper{
    height: 70px;
    padding: 10px 20px;
    width: 260px;
}
.navbar .navbar-menu-wrapper{
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}
.page-body-wrapper{
    min-height: 70px;
    padding-top: 70px;
}
.username-icon{
    height: 40px;
    width: 40px;
    border: 2px solid #172d88;
    display: block;
    font-size: 0;
    border-radius: 50%;
    text-align: center;
}
.username-icon::first-letter{
    font-size: 23px;
    color: #172d88;
    text-transform: uppercase;
}
.mt-3, .template-demo > .btn, .ajax-upload-dragdrop .template-demo > .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .template-demo > .swal2-styled, .template-demo > .btn-toolbar{
    margin-top: 0rem !important;
}


.modal .modal-dialog .modal-content .modal-header {
    padding: 12px 20px;
}

.modal .modal-dialog .modal-content .modal-body{
    padding: 25px;
}
form button.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: 0 !important;
}

small.danger{
    color: red;
    font-size: 11px;
}
.pagination {
    display: block;
    margin: 20px auto 5px;
    width: fit-content;
}
.pagination li{
    display: inline-block;
}
.pagination li a {
    border: 1px solid #0083b8;
    color: #0083b8;
    padding: 8px 10px 6px;
    border-radius: 6px;
    text-decoration: none;
    transition-duration: 0.3s;
}
.pagination li a:hover{
    color: white;
    background-color: #0083b8;
}
.pagination li.active a{
    color: white;
    background-color: #0083b8;
    pointer-events: none;
}
.pagination li.disabled a {
    border: 1px solid #1E283D;
    color: #1E283D;
    pointer-events: none;
}
.filtration{
    max-height: 400px;
    overflow: hidden;
    transition-duration: 0.5s;
    padding: 20px 30px;
    margin: 20px 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.filtration .flex {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.filtration .flex > div{
    width: calc(50% - 20px);
}
.filtration .flex > div.full{
    width: 100%;
}
.filtration span.select2-selection.select2-selection--single {
    border: 1px solid #dee2e6;
}
.filtration .select2-selection__rendered{
    color: #dee2e6;
}
.filtration .select2-container{
    width: 100% !important;
}
.filtration.hidden{
    max-height: 0px;
    padding: 0;
}
.filtration .filter-btns {
    text-align: right;
}
button.btn.table-header-btn.filter-btn{
    padding-top: 10px;
    padding-bottom: 7px;
}

.d-table button, .d-table a.btn{
    padding-top: 10px;
    padding-bottom: 8px;
}
.d-table {
    table-layout: fixed;
}
.swal2-container.swal2-center > .swal2-popup{
    padding-top: 20px;
}
.swal2-modal .swal2-icon, .swal2-modal .swal2-success-ring{
    margin-bottom: 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #0083b8 !important;
    color: white;
    font-size: 14px;
    padding: 5px;
    border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    color: white;
    font-size: 20px;
}
span.select2-selection.select2-selection--single {
    padding: 2px;
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 32px;
    right: 5px;
}
.hidden{
    display: none;
}
.radio-trio > label{
    display: block;
    width: 100%;
    padding-bottom: 0px;
}
.radio-trio > div{
    min-width: fit-content;
    width: calc(33% - 20px) !important;
}

.hidden{
    display: none;
}
textarea.form-control{
    min-height: 150px;
}
.select2-container--default .select2-results__group{
    padding: 0px;
}
span.accordeon.mdi.mdi-chevron-down {
    font-size: 26px;
    position: relative;
    top: 3px;
    color: #1F3BB3;
    left: -5px;
    cursor: pointer;
}
span.accordeon.mdi.mdi-chevron-down::before{
    transition: 0.2s;
}
span.accordeon.mdi.mdi-chevron-down.open::before{
    transform: rotate(-180deg);
}

.dd-list .mdi{
    color: #71b6f9;
    font-size: 22px;
    position: relative;
    align-items: center;
    background: none;
    border: none;
}

.form-builder{
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.panel-group {
    padding: 20px 0;
}
.panel-group .panel {
    background-color: #f1f1f1;
    padding: 10px 10px 3px;
    border-radius: 7px;

    margin-top: 15px;
}
.panel-title{
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.panel-group .btn-warning {
    padding: 9px 20px;
    font-size: 12px;
}
div#ui-datepicker-div {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid #0083b8;
    border-radius: 8px;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    padding: 0px 0 10px 0px;
}

.ui-datepicker-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
a.ui-state-active{
    color: white !important;
    background-color: #0083b8;
}
a.ui-datepicker-next, a.ui-datepicker-prev{
    text-decoration: none;
    color: #0083b8;
    font-weight: bold;
    cursor: pointer;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    padding: 0px 0 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ui-datepicker-calendar th{
    padding: 6px 7px;
}
.ui-datepicker-calendar th, .ui-datepicker-calendar td {
    border: 1px solid #0083b8;
    border-radius: 3px;
    text-align: center;
}
.ui-datepicker-calendar td a {
    text-decoration: none;
    display: block;
    padding: 3px 5px;
    transition-duration: 0.3s;
    color: #0083b8;
    font-weight: bold;

}
.ui-datepicker-calendar td a:hover{
    color: white;
    background-color: #0083b8;
}

.option-delete{
        width: fit-content;
        position: relative;
        top: 6px;
        right: 9px;
        padding: 0;
        cursor: pointer;
}

select.organization-selector {
    border: 2px solid #0083b8;
    min-width: fit-content;
    height: 42px;
    padding: 0 10px;
    border-radius: 7px;
    text-align: center;
    background-color: #F4F5F7;
    color: #0083b8;
    font-weight: bold;
}
button.file-upload-browse.btn.btn-primary{
    padding: 8px 20px;
}
.datepicker.datepicker-dropdown td.disabled.day{
    color: #d9dde3 !important;
}
.warning {
    border-color: red;
}
.warning-text{
    color: red;
}

.content-wrapper{
    padding-left: 1rem;
}

.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link {
    margin: 0;
    padding-left: 27px;
}
.main-panel{
    width: calc(100% - 300px);
}
.sidebar{
    width: 300px;
}
.account-table tr, .account-table td, .account-table th{
    width: 200px !important
}
.organization-table tr, .organization-table td, .organization-table th{
    width: 150px !important
}
.organization-table tr:nth-child(2), .organization-table td:nth-child(2), .organization-table th:nth-child(2){
    width: 250px !important
}

.account-table:not(.samll-last-elem) tr:last-of-type, .account-table:not(.samll-last-elem) td:last-of-type, .account-table:not(.samll-last-elem) th:last-of-type{
    width: 330px !important
}

.table-last-small tr:last-of-type, .table-last-small td:last-of-type, .table-last-small th:last-of-type{
    width: 25px !important;
    padding-left: 5px;
    padding-right: 5px;
}
.account-table tr h5, .account-table td h5, .account-table th h5{
    width: auto !important
}
.table th, .table td{
    white-space: unset !important;
}

.sidebar .nav .nav-item.active > .nav-link {
    color: #484848;
    background-color: transparent;
}
.sidebar .nav .nav-item.active > .nav-link > *{

    color: #484848 !important;
}
.sidebar .nav{
    margin-bottom: 10px;
}

.navbar {
    border-bottom: 1px solid lightgray;
}

div#allowance_modal{
    height: 230px;
}

.modal{
    overflow-y: unset;
    overflow-x: unset;
}

.m-b-10{
    margin-bottom: 5px;
}

.color-red{
    color: red;
}
.text-center{
    text-align: center;
}
.allowance-answer-div{
    padding: 10px;
    border: 2px solid red;
    margin-bottom: 15px;
    border-radius: 8px;
}

.back-btn {
    background-color: transparent;
    border: none;
    color: #0083b8;
    margin-bottom: 20px;
}
.back-btn::before{
    position: relative;
    top: 7px;
    font-size: 22px;
    margin-right: 4px;
    padding: 0;
}
.language-text{
    width: 92px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #409FC9;
    border-radius: 50px;
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
    color: #575757;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 10px;
}
.language-text  .active{
    color: #e65858 !important;
}
.language-text  a{
    font-size: 15px;
    font-weight: 500;
}
.language-text:hover{
    background: #409FC9;
    color: #F7F7F7;
}
.form-options{
    box-sizing: border-box;
    border-style: outset;
    width: 10%;
    text-align: center;
}
.badge{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}
